
body, html {
	background-color: #000;
}

#title {
	color: crimson;
	font-size: 5em;
	width: 100vw;
	text-align: center;
	top: 33%;
	transform: translateY(-50%);
	letter-spacing: 1em
}

#content-container {
	width: 60vw;
	z-index: 200;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
/*	font-family: "Rajdhani";
*/	letter-spacing: .15em;
}

#msg-input {
	width: 60%;
	text-align: center;
	border-radius: 20px;
	padding: 12px;
	background-color: rgba(0, 0, 0, .8);
	color: white;
	border-style: solid;
	border-color: white;
	font-family: "Geo";
}

#p5-canvas {
}

#resource {
	bottom: 0;
	width: 100vw;
	height: 48px;
}

.full-screen {
	width: 100vw;
	height: 100vh;
}

a {
	color: grey;
	display: inline-block;
	margin: 14px;
}

a:hover {
	color: crimson;
}


