
body, html {
}

#content-container {
	width: 60vw;
	z-index: 200;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
}

#msg-input {
	width: 60%;
	text-align: center;
	border-radius: 20px;
	padding: 12px;
	background-color: rgba(0, 0, 0, .8);
	color: white;
	border-style: solid;
	border-color: white;
}

#p5-canvas {
	background-color: #000;
}

#resource {
	bottom: 0;
	width: 100vw;
	height: 48px;
}

.full-screen {
	width: 100vw;
	height: 100vh;
}


